@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';

@layer base {
  html {
    font-family: 'DM Sans', sans-serif !important;
    font-feature-settings: 'kern' !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.2px;
  }
}
input.defaultCheckbox {
  color: white;
}

input.defaultCheckbox::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z' fill='white'/%3E%3C/svg%3E%0A");
  fill: currentColor;
  opacity: 0;
  height: 16px;
  width: 16px;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input.defaultCheckbox::before path {
  fill: currentColor;
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup-body {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: fit-content;
  min-height: 200px;
  width: fit-content;
  min-width: 400px;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: transparent;
  margin-bottom: 12px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: gray;
}

body.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #0b1437;
}
body.dark::-webkit-scrollbar {
  background-color: #0b1437;
  margin-bottom: 12px;
}

.dragging-active {
  /* background: rgba(255, 255, 255, 0.3) !important; */
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.custom-scrollbar--hidden {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Invisible by default */
  -ms-overflow-style: none; /* IE and Edge */
}

/* WebKit Browsers (Chrome, Safari) */
.custom-scrollbar--hidden::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

/* Ensure scrollbar track remains invisible initially */
.custom-scrollbar--hidden::-webkit-scrollbar-track {
  background: transparent;
}

/* Hide scrollbar thumb initially */
.custom-scrollbar--hidden::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Show scrollbar on hover */
.custom-scrollbar--hidden:hover {
  scrollbar-color: #888 #f1f1f1; /* Firefox: thumb and track */
}

.custom-scrollbar--hidden:hover::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scrollbar--hidden:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shim-blue {
  position: relative;
  overflow: hidden;
  background-color: rgba(66, 42, 251, 1);
}
.shim-blue::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmerprogress 3s ease-out infinite;
  content: '';
}

@keyframes shimmerprogress {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@media print {
  table,
  tr,
  td {
    page-break-inside: avoid;
    overflow: visible;
  }
  @page {
    margin: 10mm;
    padding-inline: 10mm;
    padding-block: 20mm;
  }
  img {
    display: block;
    max-width: 100%;
  }
}
